* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#containerBolsa {
    width: 80%;
    margin: 15px auto auto auto;
    height: 320px;
    background-color: aqua;
    display: none;
}

#bolsa {
    width: 80%;
    height: 80%;
    margin: auto auto;
    border: 1px solid black;
}